
<!DOCTYPE html>
<html><head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <meta name="viewport" content="width=50, initial-scale=1">
<style>
    * {box-sizing: border-box;}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center{
    text-align: center;
}
</style

</head>
<body>
<div class="center">
    <img src="https://static.nike.com/a/images/f_jpg,q_auto:eco/61b4738b-e1e1-4786-8f6c-26aa0008e80b/swoosh-logo-black.png" alt="Paris" class="center" width="70" height="70">

<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#contact">Contact</a>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
</div>
<div style="padding-left:16px">

    <img src="https://assets.econsultancy.com/images/0009/2694/product_page_gif_nike.gif" alt="Paris" class="center" width="500" height="500">

<p> <a href="{{url_for('product')}}"> pink tech fleece </a></p>

<p> <a href="{{url_for('product2')}}"> blue tech fleece </a></p>

<p> <a href="{{url_for('product3')}}"> grey tech fleece </a></p>


<p> <a href="{{url_for('cart')}}"> cart </a></p>

</body>
</html>